@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.2s;
  font-weight: 500;
}

body {
  font-family: "Playpen Sans", sans-serif;
}

.mt {
  margin-top: 75px;
}

.page {
  padding: 30px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 80px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  border-width: 3px;
  /* border: 3px solid #1b1b1b; */
  outline: none;
  color: #1b1b1b;
  font-weight: 500;
  resize: none;
}

.form textarea {
  height: 100%;
  min-height: 200px;
}
